* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, ;
}

.container {
    align-self: center;
    display: flex;
    width: 100vw;
    background: linear-gradient(to left top, hsl(277.05, 79.91%, 44.9%), hsl(339.34, 48.03%, 50.2%), hsl(27.92, 96.84%, 49.61%), hsl(44.52, 100%, 49.41%));
}

.row1 {
    height: 10%;
}

.result {
    position: absolute;
    margin-left: 80%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    display: none;
    height: auto;
    border: 1px solid black;
    background-color: aliceblue;
    font-size: large;
    font-weight: 700;
}

.result-data {
    display: flex;
}

@media (min-width:1000px) {
    .container {
        height: 100vh;
    }

    .game-container {
        width: 40%;
        height: 80%;
        display: flex;
    }
}

@media (min-width:600px) and (max-width:999px) {
    .container {
        height: 100vh;
    }

    .game-container {
        width: 90%;
        height: 80%;
        display: flex;
    }

    .result {
        margin-left: 60%;
    }
}

@media (max-width:600px) {
    .container {
        height: 100vh;
    }

    .game-container {
        width: 100%;
        height: 80%;
        display: flex;
    }

    .result {
        gap: 0;
        margin-left: 40%;
    }
}



i {
    font-size: xx-large;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.row2 {
    justify-content: center;
}

.game-container {
    padding: 10px;
    gap: 25px;
    align-items: flex-start;
}

.game {
    /* padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px; */
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(to right bottom, hsl(277.05, 79.91%, 44.9%), hsl(339.34, 48.03%, 50.2%), hsl(27.92, 96.84%, 49.61%), hsl(44.52, 100%, 49.41%));
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    justify-self: center;
}

.card {
    border-radius: 10px;
    position: relative;
    width: 23%;
    height: 23%;
    padding: 2px;
    border: 1 px solid red;
    perspective: 500px;
    transform-style: preserve-3d;
}

.front,
.back {
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.front {
    background-color: #282A3A;
}

.back {
    background-color: aliceblue;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;

}

.row2 {
    justify-content: flex-start;
    width: 100%;
    height: 10%;
    gap: 3%;
    align-items: center;
}

.moves,
.times {
    color: aliceblue;
    font-size: larger;
    font-weight: 600;
}

img {
    width: 70%;
    height: 70%;
    object-fit: contain;
}

.navy-blue,
.restart {
    border: 0;
    font-size: x-large;
    font-weight: 600;
    background-color: #282A3A;
    color: white;
    border-radius: 5px;
    width: 20%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navy-blue:hover {
    cursor: pointer;
}

.restart {
    /* justify-self: center; */
    width: auto;
    margin-left: 35%;
}

.card:hover {
    cursor: pointer;
}

.row1 {
    display: flex;
    justify-content: space-between;
}